{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}
EC2  Nodes
{% endblock %}


{% block body %}
<style>
	.menutable {border: 2px solid white;}
	.menutabletd {background-color:#EEEEEE;border: 2px solid white; width:150px;padding:10px;}
</style>


<h1>EC2  Nodes</h1>

<form action="">
<table class="menutable">
<tr>
    <th>Cluster</th>
    <th>Nodes</th>
    <th>SSH Profile</th>
    <th>JVM Profile</th>
    <th>EC2 Profile</th>
    <th>Template info</th>
</tr>
<tr>
    <td class="menutabletd">
    	<div id=clusters >
    		{% for cluster in clusters %}
		<input type="radio" name="cluster" value="{{cluster.name}}"> {{cluster.name}}<br>
		{% endfor %}
		</div>
   	</td>
    <td class="menutabletd">
    	<div id="nodes"> </div>
   	</td>
     <td class="menutabletd">
		<div id="sshprofiles">
			{% for sshprofile in sshprofiles %}
		<input type="radio" name="sshprofile" value="{{sshprofile.name}}"> {{sshprofile.name}}<br>
		{% endfor %}
		</div>
   	</td>
     <td class="menutabletd">
		<div id="jvmprofiles">
			{% for jvmprofile in jvmprofiles %}
		<input type="checkbox" class="jvmprofile" value="{{jvmprofile.name}}"> {{jvmprofile.name}}<br>
		{% endfor %}
		</div>
   	</td>
     <td class="menutabletd">
		<div id="ec2profiles">
			{% for ec2profile in ec2profiles %}
		<input type="radio" name="ec2profile" value="{{ec2profile.name}}"> {{ec2profile.name}}<br>
		{% endfor %}
		</div>
   	</td>
    <td class="menutabletd">
    	<div id="ec2profileinfo"> </div>
    </td>
</tr>
<tr>
    <th colspan = "6 "> <div style="width:900px;float:left;text-align:left">Actions</div></th>
</tr>
<tr>
    <td colspan = "6 ">
    	<button id="addnode" >Add Node</button>
		<button id="removenode" >Remove Node</button>
    </td>
</tr>
<tr>
    <th colspan = "6"> <div style="width:900px;float:left;text-align:left">Output</div></th>
</tr>
<tr>
    <td colspan = "6"><div id="output"style="background-color:#EEEEEE";height:200px;width:800px;float:left></div></td>
</tr>
</table>

</form>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="/site_media/static/control/js/ec2nodes.js"></script>
{% endblock %}